* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background: #090a0e;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 15px;
  justify-items: center;
  background-color: #1a1c23;
  padding: 15px 15px 50px 15px;
}

/* Movie */

.movie-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.2s;
}

.movie-container:hover .movie-cover {
  border: 5px solid #a0acdf;
}

.movie-title {
  padding-top: 5px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #0f1014;
  background: #c1c1c1;
  font-size: 20px;
  font-weight: bold;
}

.movie-vote {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #0f1014;
  padding: 2px 8px;
  border-radius: 5px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* Hero */

.hero {
  position: relative;
  min-height: 500px;
  object-fit: cover;
  /* background-position: top center; */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 60px;
  background-size: cover;
}

.hero .title {
  font-size: 40px;
}

.video-tag {
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.hero .overview {
  background: #00000066;
  padding: 10px;
  border-radius: 5px;
}

.hero .button {
  background: #0f1014;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  /* Сплоная, это как? В форме слоника?) */
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.hero .button:hover {
  background: #a0acdf;
  color: #0f1014;
}

.youtube-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn-load-more {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: rotateX(-50%);
  color: white;
  background: black;
}

.page-type-current {
  border: 3px solid red;
}

button {
  color: white;
  cursor: pointer;
  background: #17181e;
  padding: 5px 10px;
  font-size: 16px;
  margin: 50px;
  transition: 0.2s;
  text-transform: capitalize;
}

button:hover {
  color: #17181e;
  background: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .page-type-current,
  button {
    padding: 10px 15px;
  }

  .App {
    overflow: hidden;
  }

  .hero .button {
    padding: 15px 15px;
  }

  .header form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px;
  }

  .header h1 {
    font-size: 50px;
  }

  .header form input {
    margin-right: 35px;
    position: relative;
    top: 20px;
    height: 25px;
    font-size: 15px;
  }

  .search {
    padding: 20px;
    font-size: 25px;
  }

  /*.content .button {*/
  /*  position: absolute;*/
  /*  bottom: -35px !important;*/
  /*}*/

  .hero .title {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
  }

  .btn-load-more {
    left: 15%;
    bottom: -50px;
  }

  .movie-title {
    font-size: 30px;
  }

  .movie-vote {
    padding: 5px 5px;
    font-size: 30px;
  }
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

#react-paginate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
